<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="zapPort" value="8850" />
      <add key="zapApiKey" value="89i2csvu0rrtikotsitk50mvgi" />
      <add key="zapHost" value="127.0.0.1" />
    </appSettings>
</configuration>